# Ganti <HOST_VPS>, <PORT_DB>, dan <NAMA_DATABASE> dengan konfigurasi VPS Anda
DATABASE_URL=postgresql://postgres:Rijalumami1002@YOUR_VPS_HOST:5432/admission_test?schema=public
JWT_SECRET=ganti_dengan_kunci_rahasia_jwt_anda_123!
PORT=3000
DB_SSL=false
